@charset "UTF-8";
.page-header {
    display: flex;                /* 横並びにする */
    justify-content: space-between; /* ロゴは左、メニューは右へ */
    align-items: center;          /* ロゴと文字の「上下中央」を揃える（重要！） */
    padding: 0.1rem 1%;           /* 上下の余白0.5rem、左右に1%の余裕 */
    background-color:#1a1919;
}

.logo {
    /* width: 100px;                 SVGを表示させるために幅を固定 */
    height: 50px;
    display: block;
}

.main-nav {
    display: flex;                /* メニュー項目を横に並べる */
    align-items: center;        /* ← これを追加 */
    gap: 1rem;                  /* 項目同士の隙間を空ける */
    list-style: none;             /* リセットCSSがある場合も念のため記述 */
    font-size: 1rem;              /* PC版の大きなサイズに固定 */
}

.main-nav a {
    color: white;
    transition: color 0.3s;       /* ふわっと色を変えるための隠し味 */
}

.main-nav a:hover {
    color: #0bd;                  /* マウスを乗せた時の色 */
}

/* メニューの文字サイズを揃えたい場合 */
.main-nav .dropdown-menu {
    font-size: 1rem;
}

    /*      2行2列を固定定義      */
    .wrapper {
      display: grid;
      /* grid-template-columns: 1fr  4fr; */
      /* grid-template-rows:    1fr  4fr; */

      /*        長さ指定          */
      grid-template-columns: 1fr  4fr;
/*    grid-template-rows:    60px  400px;   */
      grid-template-rows:    60px  auto;

      /* grid-auto-rows: 100px; */
      /* 境界を見やすくするための隙間 */
      /* gap: 1px;  */
    }
    /* 各ボックスの枠線と色（確認用） */
    .wrapper > div {
      /* border: 1px solid #333; */
      /* background: #f0f0f0; */
    }
    .box1 {
      grid-column-start: 1;
      grid-row-start: 1;
      grid-row-end: 3;
      background: #eef !important;
    }

    .side_board-nav li {
      margin-top: 15px;
      /* margin-bottom: 5px;  */
    }

    .box2 {
      background: #eef !important;
    }

    .box3--plain {
      background: #eef !important;
    }

    .box3--flex {
      background: #eef;
      display: flex;
      gap: 1rem;
    }

    /* 2026.5.20 date枠線が消えるの問題対応  */
    input[type="date"],
    input[type="search"] {
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 4px;
    }

.footer-nav {
    display: flex;                /* 横並びにする */
    align-items: center;          /* ロゴと文字の「上下中央」を揃える（重要！） */

    gap: 1rem;                  /* 項目同士の隙間を空ける */
    list-style: none;             /* リセットCSSがある場合も念のため記述 */
    font-size: 0.8rem;              /* PC版の大きなサイズに固定 */
    /* padding: 0.5rem; */
}
